<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <!-- Offer Details Card -->
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" th:object="${offerDetails}">
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{brandName}"></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">

                    <div class="card-text"><span>• Price: <span th:text="${offerDetails.price}"></span></span></div>
                    <div class="card-text"><span>• Engine type: <span th:text="${offerDetails.engine}"></span></span></div>
                    <div class="card-text"><span>• Transmission type: <span th:text="${offerDetails.transmission}"></span></span></div>
                    <div class="card-text"><span>• Offer created: <span th:text="${#dates.format(offerDetails.created, 'dd-MM-yyyy HH:mm')}"></span></span></div>
                    <div class="card-text"><span>• Offer modified: <span th:text="${#dates.format(offerDetails.modified, 'dd-MM-yyyy HH:mm')}"></span></span></div>
                    <div class="card-text"><span>• Seller - First and Last name: <span th:text="${offerDetails.seller}"></span></span></div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="@{/offers/update/{id}(id=${offerDetails.id})}">Update</a>
                <a class="card-link" th:href="@{/offers/delete/{id}(id=${offerDetails.id})}">Delete</a>
            </div>
        </div>
        <!-- Offer Image Card -->
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

        </div>
    </div>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
